<footer class="alert alert-dismissable navbar navbar-fixed-bottom">
    &copy; Mahesh Chavan | COMP2068-Assignment-2
</footer>

<!--javaScript-->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>