<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title %></title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="css/sb-admin.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrapper">
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Electronic Gadgets</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
         <%if (!user){%>
            <li><a href="/registration">Register</a></li>
            <li><a href="/login">Login</a></li>
           <% }
            else {
           %>
            <li><a href="/gadgets">Gadgets</a></li>
            <li><a href="/logout">Logout</a></li>

            <!--search box-->
            <form class="navbar-form navbar-left" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <%}%>
        </ul>
        <%if (user){%>
        <div class ="nav navbar-text pull-right">Welcome <%= user.username %></div>
        <%}%>
    </div>
</nav>


    <div id="page-wrapper">

        <div class="container-fluid">
