<% include partials/header.ejs%>

<a href="addGadget.ejs">Add gadget for sale</a>
<table class="table table-striped">
<tr>
  <th>Gadget</th>
  <th>Type</th>
  <th>Price</th>
  <th>Condition</th>
</tr>
</table>

<%include partials/footer.ejs%>