<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<a href="addGadget.ejs">Add gadget for sale</a>
<table>
<tr>
  <th>Gadget</th>
  <th>Type</th>
  <th>Price</th>
  <th>Condition</th>
</tr>
</table>
</body>
</html>